<div class="page">
	<h2 class="title">What is "What you think?"</h2>
	<section class="freeTxt">
		"What you think" or, as domain says - Wuthink is a web application related to polls and questions. In Wuthink everyone can create his own question with multiple answers and attach tags to it! If you feel adventurous - search through others' questions using tags or the questions' name. On creation, one has to choose whether his question is hidden (if it is hidden it doesn't appear in searches or lists, only to those who have the url) and if a single person can select multiple answers or just one - like checkboxes/radio buttons. <br/>
		You want your question to appear for a certain time? You will receive a delete link after you publish your question! You think you will lose it? Enter your email and we will make sure you receive your links directly at your mail.<br/><br/>
		Wuthink is created by highly professional team in Middle East, so don't try to hack it cuz you won't succeed :]
	</section>
	<h2 class="title">Since now</h2>
	<section class="bigInfo col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div>
			<span class="transitionFast" ng-bind="$questionsCount"></span>
			<span class="transitionFast">Questions have been asked</span>
		</div>
	</section>
	<section class="bigInfo col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div>
			<span class="transitionFast" ng-bind="$answersCount"></span>
			<span class="transitionFast">Answers have been given</span>
		</div>
	</section>
	<div class="lmar">
		<a href="#/ask">
			<button class="fancyButtonBlue fullWidth transitionFast">
				Ask your question
			</button>
		</a>
	</div>
</div>